body{
  background-color: black;
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.seasonbutton {
  width: 12vw;
  margin-left: 2vw;
  margin-right: 2vw;
}

.photobutton{
  width: 15vw;
  margin-left: 2vw;
  margin-right: 2vw;
}

.active{
  border-style: solid;
  border-width: medium;
  border-color: red;
}
