body {
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
}

.photobooth {
  background-color: rgba(0,0,0,0.8);
  width: 60vw;
  height: 100%;
  z-index: 1000;
  position: fixed;
  margin-left: 20vw;
  margin-right: 20vw;
  top: 0;
  left: 0;
  text-align: center;
  color: rgb(76,185,66);
  font-size: 0.8em;
}

.logo{
  width: 8vw;
  margin: 1vw;
}

#pixistage{
  position: fixed;
  top: 0;
  left: 0;
}

.hide{
  display: none;
}
